.Next{
    background-color: rgba(75,0,130,0.7, );
    color: rgb(122, 103, 163);
    padding: 10px 20px;
    font-size: 20px;
}
.Next:hover{
    cursor: pointer;
    background-color: rgba(75,0,130 );
}
.Next[disabled]{
    display: none;
}