.Main-content h1{
color: blue;
text-align: center;
}
.Main-content button{
    color: aqua;
    background-color: rgba(70, 61, 196, 0.8);
    padding: 10px;
    border:1px solid black;
    font-size: larger;
    transition: 0.3s;
}
.Main-content button:hover{
cursor: pointer;
background-color: rgb(12,6,90);
}
.Main-content h2{
    color: black;
    text-align: center;
}